.imgBG.outer
.box
  .left
    .imgBG.inter
    .top
      .local
        span.material-symbols-outlined location_on
        h3.area 台北

      .temps
        h3.tempC 25
        .other
          h5.tempF 74
          h5.state 無雲
    
    .main_weather
      .w
        .circle.moonHoles
        .circle.moon
        
        .main_cloud 
        
    
    .today
      .date MON, JUN 12
      .time 18:52
    
    .info
      .content.chanceOfRain
        span.material-symbols-outlined beach_access
        h5 20%  
      .content.humidity
        span.material-symbols-outlined humidity_low
        h5 55%
      .content.wind
        span.material-symbols-outlined air
        h5 2 mph
    
    
  .right
    h5.title A WEEK
    #weaks
      //- .weak.checked(id="1") 
      //-   .li_state
      //-   .li_info
      //-     h5.day MON
      //-     h5.tempC 27

    